@using ReportViewerForMvc
@{
    Layout = null;
    ViewBag.Title = "CRM Raw Data Report Details";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CRM Raw Data Report</title>
    <style>
        .main {
            width: 100%;
            margin: 10px auto;
            text-align: center
        }

        .Training_Attendance {
            width: 100%;
            max-width: 100%;
            height: 604px;
            overflow: auto;
        }
    </style>

</head>
<body>
    <div class="main">
        <div id="reportView" class="card-body">
            @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer, new { scrolling = "yes", @class = "Training_Attendance" })
        </div>
    </div>
</body>
</html>





