@model HelpDesk.Web.Models.UserDTO

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .kt-widget.kt-widget--user-profile-1 .kt-widget__body .kt-widget__content .kt-widget__info {
        align-items: start;
    }

    .password-pattern {
        list-style-type: none;
    }

        .password-pattern li {
            padding: 2px 0;
        }


            .password-pattern li i {
                font-weight: 700;
                font-size: 8px;
                color: green;
            }

</style>

<div class="kt-container  kt-grid__item kt-grid__item--fluid mt-4">
    <div class="row">
        <div class="col-md-12">
            <!--begin:: Widgets/Applications/User/Profile1-->
            <div class="kt-portlet kt-portlet--height-fluid-">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Change Password
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body kt-portlet__body--fit-y">
                    <div class="row">
                        <div class="col-lg-6">
                            <form class="kt-form">
                                <div class="kt-portlet__body">
                                    
                                    <div class="form-group">
                                        <label>Old Password</label>
                                        <input type="password" class="form-control" id="txtprevious">

                                    </div>
                                    <div class="form-group">
                                        <label>New Password</label>
                                        <input type="password" class="form-control" id="txtpassword">
                                    </div>
                                    <div class="form-group mb-0">
                                        <label>Confirm Password</label>
                                        <input type="password" class="form-control" id="txtConfirmPassword">
                                    </div>
                                </div>
                                <div class="kt-portlet__foot--no-border p-4 pt-0">
                                    <div class="kt-form__actions">
                                        <a class="btn btn-primary" href="#" onclick="validatePassword()">Submit</a>
                                        <button type="reset" class="btn btn-secondary">Cancel</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="col-lg-6 pt-5">
                            <ul class="password-pattern">
                                <li><i id="i_char8" class="la la-star text-dark"></i> 8 Characters.</li>
                                <li><i id="i_1num" class="la la-star text-dark"></i> At least One Number.</li>
                                <li><i id="i_1alphabet" class="la la-star text-dark"></i> At least One Alphabet</li>
                                <li><i id="i_specialchar" class="la la-star  text-dark"></i> At least One Special Character</li>
                                <li><i id="i_capital" class="la la-star  text-dark"></i> At least One Capital Letter</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--end:: Widgets/Applications/User/Profile1-->
        </div>
    </div>
</div>

<script>
    document.getElementById("loader").style.display = "none";

    function newPwdValidation() {
          $("ul.password-pattern li i").removeClass("la la-close");
        $("ul.password-pattern li i").addClass("la la-check");
    }


    function validatePassword() {
        //newPwdValidation();
        var password = document.getElementById("txtpassword").value;
        var id = 0;

        var confirmPassword = document.getElementById("txtConfirmPassword").value;
        if (confirmPassword == "" || confirmPassword == null || password == "" || password == null) {
            id = 1;
            alert('Field should not be empty');
        }
        if (password != confirmPassword) {
            id = 1;
            //alert("Passwords do not match.");
            $("#txtConfirmPassword").after('<span id="txtConfirmPasswordlenghterror" style="color:red;" class="error">Password not matched</span>');
            $("#txtConfirmPassword").val('');
            $("#txtConfirmPassword").focus();
            return false;
        }
        else {
            $('#txtConfirmPasswordlenghterror').hide();
        }
        //var result = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$/;
        //var digit =   /^[a-zA-Z0-9]$/;
        //var alphabet =/^[a-zA-Z]$/;
        //var uppercase = /^[A-Z]$/;
        //var length = /^[a-zA-Z0-9]{8,}$/;
        //var specialcharacter = /^[A-Za-z0-9 ]+$/;
        //var pswd = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@@#\$%\^&\*])(?=.{8,})$/;
        //var mediumRegex = new RegExp("^(((?=.*[a-z])(?=.*[A-Z]))|((?=.*[a-z])(?=.*[0-9]))|((?=.*[A-Z])(?=.*[0-9])))(?=.{6,})");

        var strongRegex = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@@#\$%\^&\*])(?=.{8,})");
 
        if (id == 0) {
            if (strongRegex.test(password)) {
                document.getElementById("loader").style.display = "none";
                $.ajax({
                    type: "Post",
                    url: '@Url.Action("PasswordUpdate")',
                    datatype: "json",
                    data: { password: confirmPassword, userprevious: $('#txtprevious').val() },
                    success: function (data) {
                        var v = data.success;
                        if (v == true) {
                            alert('Updated Successfully');
                            location.reload();
                        }
                        else {
                            $("#txtprevious").after('<span id="txtpreviouslenghterror" style="color:red;" class="error">Invalid Password</span>');
                            $("#txtprevious").val('');
                            $("#txtprevious").focus();
                        }
                        document.getElementById("loader").style.display = "none";
                    },
                    error: function () {
                        alert('error');
                        $('#details_div').html('');
                        document.getElementById("loader").style.display = "none";
                    }
                });
            }
            else {
                alert('Validations Required');
            }
        }
    }

</script>






