@model HelpDesk.Web.Models.UserDTO

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .kt-widget.kt-widget--user-profile-1 .kt-widget__body .kt-widget__content .kt-widget__info {
        align-items: start;
    }
</style>

<div class="kt-container  kt-grid__item kt-grid__item--fluid mt-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <!--begin:: Widgets/Applications/User/Profile1-->
            <div class="kt-portlet kt-portlet--height-fluid-">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Change Password
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body kt-portlet__body--fit-y">
                    <form   class="kt-form">
                        <div class="kt-portlet__body">
                            <div class="form-group">
                                <label>New Password</label>
                                <input type="password" class="form-control" id="txtpassword">
                            </div>
                            <div class="form-group mb-0">
                                <label>Conform Password</label>
                                <input type="password" class="form-control" id="txtConfirmPassword">
                            </div>
                        </div>
                        <div class="kt-portlet__foot">
                            <div class="kt-form__actions">
                                <a class="btn btn-primary" href="#" onclick="validatePassword()">Submit</a>
                                <button type="reset" class="btn btn-secondary">Cancel</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <!--end:: Widgets/Applications/User/Profile1-->
        </div>
    </div>
</div>
 
<script>
     document.getElementById("loader").style.display = "none";
    function validatePassword() {
        var password = document.getElementById("txtpassword").value;
        var id = 0;
        
        var confirmPassword = document.getElementById("txtConfirmPassword").value;
        if (confirmPassword == "" || confirmPassword == null || password == "" || password == null) {
            id = 1;
            alert('Field should not be empty');
        }
        if (password != confirmPassword) {
            id = 1;
            alert("Passwords do not match.");
            return false;
        }
        if (id == 0) {
            document.getElementById("loader").style.display = "block";
            $.ajax({
                type: "Post",
                url: '@Url.Action("PasswordUpdate")',
                datatype: "json",
                data: { password: confirmPassword },
                success: function (data) {
                    var v = data.success;
                    if (v == true) {
                        alert('Updated Successfully');
                        location.reload();
                    }
                    else {
                        alert('Some thing went wrong');
                    }
                    document.getElementById("loader").style.display = "none";
                },
                error: function () {
                    alert('error');
                    $('#details_div').html('');
                    document.getElementById("loader").style.display = "none";
                }
            });
        }
    }

</script>
 





