.flex-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.flex-column-fluid {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}
.gap-1 {
    gap: 0.25rem !important;
}
.gap-2 {
    gap: 0.5rem !important;
}
.gap-3 {
    gap: 1rem !important;
}
.select2 {
    width: 100% !important;
}

.color-primary {
    color: #2cafdd !important;
}

.bg-secondery {
    background-color: #8a5dff !important;
    background-color: #5479fa !important;
    color: #fff;
}
.bg-secondery:hover {
    background-color: #7544f5 !important;
    background-color: #4b70f2 !important;
    color: #fff;
}

.ticketbar {
    width: 100%;
    padding: 20px 0 0;
}

    .ticketbar li {
        list-style-type: none;
        width: 16%;
        float: left;
        font-size: 12px;
        font-weight: 500;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        color: #7d7d7d;
        margin-bottom: 20px;
    }

        .ticketbar li:before {
            width: 25px;
            height: 25px;
            font-family: FontAwesome;
            content: "\f00c";
            font-size: 16px;
            line-height: 20px;
            border: 2px solid #7d7d7d;
            display: block;
            text-align: center;
            margin: 0 auto 10px auto;
            border-radius: 50%;
            background-color: white;
        }

        .ticketbar li:after {
            width: 100%;
            font-family: FontAwesome;
            content: "\f105";
            display: inline-block;
            padding-right: 3px;
            vertical-align: middle;
            font-weight: 900;
            font-size: 40px;
            font-weight: bold;
            position: absolute;
            top: -10px;
            left: 50%;
        }

        .ticketbar li:last-child:after {
            content: none;
        }

        .ticketbar li.active {
            color: #2cafdd;
        }

            .ticketbar li.active:before {
                border-color: #2cafdd;
            }

        .ticketbar li.active {
            color: #2cafdd;
        }

.ticket-full-details tr td:last-child {
    color: #2cafdd;
    font-weight: 500
}

.table td {
    vertical-align: middle !important;
}

.details-close-button {
    right: 12px;
    top: -15px;
    z-index: 99;
}

    .details-close-button.btn-xs {
        right: 0px;
        top: -5px;
    }

    .details-close-button .la-close {
        font-size: 12px;
    }

.ticket-multi-imgs img {
    height: 100px;
    width: 100%;
    object-fit: cover
}

.loader {
    position: relative;
    display: block;
    margin: 20% auto;
    width: 43px;
    background-color: transparent;
    transform: rotateZ(45deg);
    transform-origin: center center;
    animation: rotate 4s infinite;
}


/*========= Floating labels =========*/

.floating-label {
    position: relative;
    margin-bottom: 20px;
}

.floating-input, .floating-select {
    font-size: 14px;
    padding: 4px 4px;
    display: block;
    width: 100%;
    height: 30px;
    background-color: transparent !important;
    border: none;
    border-bottom: 1px solid #ccc !important;
    border-radius: 0px;
}

    .floating-input:focus, .floating-select:focus {
        outline: none;
        border-bottom: 2px solid #5264AE;
    }

.floating-form label {
    color: #999;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 15px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.floating-input:focus ~ label, .floating-input:not(:placeholder-shown) ~ label {
    top: -10px;
    font-size: 14px;
    color: #5264AE;
}

.floating-select:focus ~ label, .floating-select:not([value=""]):valid ~ label {
    top: -10px;
    font-size: 14px;
    color: #5264AE;
}

.floating-form .select2-selection__rendered {
    background: transparent;
    border-bottom: 1px solid #ccc !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default.select2-container--open .select2-selection--multiple {
    border: none;
}

.d_block_1024 {
    display: none !important;
}
.alfabet-icon {
    padding: 3px 9px;
    margin-right: 5px;
}

.dataTables_wrapper .dataTables_scroll {
    margin-top: 0px !important
}

@media Screen and (max-width: 1024px) {
    .d_none_1024 {
        display: none !important;
    }

    .d_block_1024 {
        display: block !important;
    }

    .kt-login.kt-login--v1 .kt-login__aside .kt-login__info .kt-login__copyright, .kt-login.kt-login--v1 .kt-login__aside .kt-login__info .kt-login__menu > a {
        color: #2cafdd;
    }
}


@media Screen and (max-width: 768px) {
    .form-group{
        margin-bottom: 1rem;
    }
}
body {
    background: #e8ecf5;
}
.kt-login__wrapper {
    padding: 0;
    margin: 50px 0;
    margin-right: 150px;
    background: rgb(255 255 255);
    border-radius: 0 16px 16px 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.01);
}
.login-form1 {
    width: 100%;
    max-width: 500px;
    background: #fff;
    padding: 40px;
    /*box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;*/
}
.bx-glass {
    padding: 40px 80px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px 0 0 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.01);
    justify-content: space-between;
}
.kt-login.kt-login--v1 .kt-login__aside {
    padding: 50px 0;
    padding-left: 150px;
}
.kt-link {
    font-weight: 500;
}
.bg-light-info {
    color: #3699FF;
    background-color: #E1F0FF;
    border-color: transparent;
}
.creat-btn {
    color: #5479fa;
    background-color: #E1F0FF !important;
    border-color: transparent;
}
.svg-icon.svg-icon-primary svg g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    fill: #3699FF !important;
}

.svg-icon svg g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    fill: #B5B5C3;
}
.btn:hover .svg-icon.svg-icon-primary svg g [fill] {
    fill: #ffffff !important;
}
.creat-btn:focus {
    outline: none;
    box-shadow: none;
}
.text-logo-1{
    align-items: center !important;
    justify-content: center;
    gap: 10px;
}
.ticket-dash-cards {
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    min-width: 20%;
}
.ticket-dash-cards a[href] {
    cursor: pointer;
}
.ticket-dash-cards > .kt-portlet {
    border-radius: 20px;
}
    .ticket-dash-cards:nth-child(1) > .kt-portlet {
        background: #ffefe2;
    }
    .ticket-dash-cards:nth-child(1) .svg-fill {
        fill: #c98659;
    }
    .ticket-dash-cards:nth-child(2) > .kt-portlet {
        background: #effcef;
    }
    .ticket-dash-cards:nth-child(2) .svg-fill {
        fill: #94d097;
    }
    .ticket-dash-cards:nth-child(3) > .kt-portlet {
        background: #e6f5f9;
    }
    .ticket-dash-cards:nth-child(3) .svg-fill {
        fill: #83becf;
    }
    .ticket-dash-cards:nth-child(4) > .kt-portlet {
        background: #f4f6fa;
    }
    .ticket-dash-cards:nth-child(4) .svg-fill {
        fill: #1a191e;
    }
    .ticket-dash-cards:nth-child(5) > .kt-portlet {
        background: #fcf7ef;
    }
    .ticket-dash-cards:nth-child(5) .svg-fill {
        fill: #dfc45b;
    }
    .ticket-dash-cards:nth-child(6) > .kt-portlet {
        background: #f9e6e6;
    }
    .ticket-dash-cards:nth-child(6) .svg-fill {
        fill: #ec8686;
    }
    .ticket-dash-cards:nth-child(7) > .kt-portlet {
        background: #f4effc;
    }
    .ticket-dash-cards:nth-child(7) .svg-fill {
        fill: #a182d1;
    }

.ticket-dash-cards .kt-widget26 .kt-widget26__content {
    align-items: center;
}
.ticket-dash-cards .kt-widget26 .kt-widget26__content .kt-widget26__number {
    font-weight: 500;
    font-size: 2.5rem;
    color: #1e1d22;
}
.ticket-dash-cards .kt-widget26 .kt-widget26__content .kt-widget26__desc {
    color: #141417;
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 0.1rem;
}
.ticket-dash-cards  p{
    text-align:center;
}
.ticket-dash-cards p a{
    color: #74788d;
    cursor: pointer
}
.svg-fill {
    position: absolute;
    right: 25px;
    top: 13px;
}
.margin-auto{
    margin: auto !important;
}
@media Screen and (max-width: 1650px) and (min-width: 1400px) {

    .ticket-dash-cards > .kt-portlet {
        min-height: 173px;
    }
}

@media Screen and (max-width: 1360px) and (min-width: 1024px) {

    .ticket-dash-cards > .kt-portlet {
        min-height: 173px;
    }
}